body{
    font-family: 'Roboto', sans-serif;
 }
 #contact-area {
    text-align: center;
}
.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.contact-box i {
    color: #FFA500;
    border: solid 1px #FFA500;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    margin-bottom: 20px;
}
.contact-box p {
    font-size: 16px;
}
.contact-title {
    font-weight: bold;
    color: #FFA500;
}
#copy-area {
    text-align: center;
}
footer{
    background-color: #A9A9A9;
    
}